# OS / Shell
.bash_history
.bash_logout
.lesshst

# Cloud Shell / VS Code
.codeoss/
.cache/
.vscode/
.gemini/

# Python
__pycache__/
*.pyc
.local/

# Node
.npm/

# PDFs / test files
*.pdf

# Archives
*.zip

# Credentials
.env
